.wrapper {
  position: fixed;

  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: 100%;
  border: solid #e9e9e9;
  border-width: 0 1px;
  overflow-y: auto;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}


.logo {
  position: absolute;
  display: flex;
  width: 180px;
  height: 100px;
  top: 10%;
  left: calc(50% - 90px);
  align-items: center;
  justify-content: center;

  background: linear-gradient(90deg, #00c19c 0%, #7077d5 100%);
}

.placeholder {
  position: absolute;
  top: 324px;
  font-size: 13px;
  line-height: 16px;
}

.login {
  color: white;
  margin-top: 5%;
  background: #00C19C;
  border: none;
}
.login:hover {
  background: #008E73;
}
.login:disabled {
  background: #7DD8C6;
}
.signup {
  position: relative;
  left: calc(50% - 129px);
  top: 90%;
  background: white;
  color: #4f4f4f;
  border: 2px solid;
  border-image-source: linear-gradient(90deg, #00c19c 0%, #7077d5 100%);
  border-image-slice: 1;
}
.signup:hover {
  color: white;
  background: linear-gradient(90deg, #00c19c 0%, #7077d5 100%);
}
